<?php
/**
 * HistoryApi
 * PHP version 5
 *
 * @category Class
 * @package  VoximplantKit
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Voximplant Kit API Documentation
 *
 * <h1>Basic description</h1> <p>HTTP API is available via the <u>https://kitapi-{{region}}.voximplant.com/api/v3/<b>{method}</b></u> endpoint. To use the methods marked with the LOCK symbol, you need to create an api token on api tokens page. Pass this token as access token to each HTTP API call.</p> <h1>Authentication</h1> <p>This API uses Custom Query Parameter for its authentication.</p> <p>The parameters that are needed to be sent for this type of authentication are as follows:</p> <ul>   <li><strong>access_token</strong></li>   <li><strong>domain</strong></li> </ul>
 *
 * OpenAPI spec version: 2.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 3.0.24
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace VoximplantKit\Resources;

use GuzzleHttp\Psr7\MultipartStream;
use VoximplantKit\VoximplantKitClient;
use VoximplantKit\VoximplantKitRequest;
use VoximplantKit\ObjectSerializer;

/**
 * HistoryApi Class Doc Comment
 *
 * @category Class
 * @package  VoximplantKit
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class HistoryApi
{
    /**
     * @var VoximplantKitClient
     */
    protected $client;

    /**
     * @param VoximplantKitClient $client
     */
    public function __construct(VoximplantKitClient $client) {
        $this->client = $client;
    }

    /**
     * Operation exportCallsHistoryReport
     *
     * @param  string $datetime_start datetime_start (optional)
     * @param  string $datetime_end datetime_end (optional)
     * @param  string $call_direction call_direction (optional)
     * @param  string $scenario_ids scenario_ids (optional)
     * @param  string $campaign_ids campaign_ids (optional)
     * @param  string $phone phone (optional)
     *
     * @throws \VoximplantKit\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \VoximplantKit\Model\ExportHistoryReportResponseType
     */
    public function exportCallsHistoryReport($datetime_start = null, $datetime_end = null, $call_direction = null, $scenario_ids = null, $campaign_ids = null, $phone = null)
    {
        $request = $this->exportCallsHistoryReportRequest($datetime_start, $datetime_end, $call_direction, $scenario_ids, $campaign_ids, $phone);
        list($response) = $this->client->sync($request);
        return $response;
    }

    /**
     * Operation exportCallsHistoryReportAsync
     *
     * 
     *
     * @param  string $datetime_start (optional)
     * @param  string $datetime_end (optional)
     * @param  string $call_direction (optional)
     * @param  string $scenario_ids (optional)
     * @param  string $campaign_ids (optional)
     * @param  string $phone (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function exportCallsHistoryReportAsync($datetime_start = null, $datetime_end = null, $call_direction = null, $scenario_ids = null, $campaign_ids = null, $phone = null)
    {
        $request = $this->exportCallsHistoryReportRequest($datetime_start, $datetime_end, $call_direction, $scenario_ids, $campaign_ids, $phone);
        return $this->client->async($request)->then(
               function ($response) {
               	return $response[0];
               }
        );
    }

    /**
     * Create request for operation 'exportCallsHistoryReport'
     *
     * @param  string $datetime_start (optional)
     * @param  string $datetime_end (optional)
     * @param  string $call_direction (optional)
     * @param  string $scenario_ids (optional)
     * @param  string $campaign_ids (optional)
     * @param  string $phone (optional)
     *
     * @throws \InvalidArgumentException
     * @return VoximplantKitRequest
     */
    protected function exportCallsHistoryReportRequest($datetime_start = null, $datetime_end = null, $call_direction = null, $scenario_ids = null, $campaign_ids = null, $phone = null)
    {

        $resourcePath = '/history/exportCallsHistoryReport';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // form params
        if ($datetime_start !== null) {
            $formParams['datetime_start'] = ObjectSerializer::toFormValue($datetime_start);
        }
        // form params
        if ($datetime_end !== null) {
            $formParams['datetime_end'] = ObjectSerializer::toFormValue($datetime_end);
        }
        // form params
        if ($call_direction !== null) {
            $formParams['call_direction'] = ObjectSerializer::toFormValue($call_direction);
        }
        // form params
        if ($scenario_ids !== null) {
            $formParams['scenario_ids'] = ObjectSerializer::toFormValue($scenario_ids);
        }
        // form params
        if ($campaign_ids !== null) {
            $formParams['campaign_ids'] = ObjectSerializer::toFormValue($campaign_ids);
        }
        // form params
        if ($phone !== null) {
            $formParams['phone'] = ObjectSerializer::toFormValue($phone);
        }
        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->client->getHeaderSelector()->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->client->getHeaderSelector()->selectHeaders(
                ['application/json'],
                ['application/x-www-form-urlencoded']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;

            if($headers['Content-Type'] === 'application/json') {
                // \stdClass has no __toString(), so we should encode it manually
                if ($httpBody instanceof \stdClass) {
                    $httpBody = \GuzzleHttp\json_encode($httpBody);
                }
                // array has no __toString(), so we should encode it manually
                if(is_array($httpBody)) {
                    $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($httpBody));
                }
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->client->getConfig()->getApiKeyWithPrefix('access_token');
        if ($apiKey !== null) {
            $queryParams['access_token'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->client->getConfig()->getApiKeyWithPrefix('domain');
        if ($apiKey !== null) {
            $queryParams['domain'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->client->getConfig()->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->client->getConfig()->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $request = new VoximplantKitRequest(
            'POST',
            $this->client->getConfig()->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
        $request->setResponseType('\VoximplantKit\Model\ExportHistoryReportResponseType');
        return $request;
    }
    /**
     * Operation searchCalls
     *
     * @param  int $id Call ID. (optional)
     * @param  string $datetime_start Start date. The format is 24-h ‘YYYY-MM-DD HH:mm:ss’ in UTC (optional)
     * @param  string $datetime_end End date. The format is 24-h ‘YYYY-MM-DD HH:mm:ss’ in UTC (optional)
     * @param  string $call_direction Call direction (&lt;b&gt;example:&lt;/b&gt; ‘call_direction&#x3D;outgoing’ or ‘call_direction&#x3D;incoming’ or ‘call_direction&#x3D;all’) (optional)
     * @param  string $scenario_ids Json integer array with scenarios IDs. The ID can be retrieved via the **searchScenarios** method. (&lt;b&gt;example:&lt;/b&gt; scenario_ids&#x3D;[1,2,3,...,9]) (optional)
     * @param  string $campaign_ids Json integer array with campaign IDs. The ID can be retrieved via the **searchCampaigns** method. (&lt;b&gt;example:&lt;/b&gt; campaign_ids&#x3D;[1,2,3,...,9]) (optional)
     * @param  int $phone Phone number to filter. The response will include calls to the specified number only. The minimum number of digits is 3. (&lt;b&gt;example:&lt;/b&gt; phone&#x3D;15417543010) (optional)
     *
     * @throws \VoximplantKit\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \VoximplantKit\Model\CallsHistoryResponseType
     */
    public function searchCalls($id = null, $datetime_start = null, $datetime_end = null, $call_direction = null, $scenario_ids = null, $campaign_ids = null, $phone = null)
    {
        $request = $this->searchCallsRequest($id, $datetime_start, $datetime_end, $call_direction, $scenario_ids, $campaign_ids, $phone);
        list($response) = $this->client->sync($request);
        return $response;
    }

    /**
     * Operation searchCallsAsync
     *
     * 
     *
     * @param  int $id Call ID. (optional)
     * @param  string $datetime_start Start date. The format is 24-h ‘YYYY-MM-DD HH:mm:ss’ in UTC (optional)
     * @param  string $datetime_end End date. The format is 24-h ‘YYYY-MM-DD HH:mm:ss’ in UTC (optional)
     * @param  string $call_direction Call direction (&lt;b&gt;example:&lt;/b&gt; ‘call_direction&#x3D;outgoing’ or ‘call_direction&#x3D;incoming’ or ‘call_direction&#x3D;all’) (optional)
     * @param  string $scenario_ids Json integer array with scenarios IDs. The ID can be retrieved via the **searchScenarios** method. (&lt;b&gt;example:&lt;/b&gt; scenario_ids&#x3D;[1,2,3,...,9]) (optional)
     * @param  string $campaign_ids Json integer array with campaign IDs. The ID can be retrieved via the **searchCampaigns** method. (&lt;b&gt;example:&lt;/b&gt; campaign_ids&#x3D;[1,2,3,...,9]) (optional)
     * @param  int $phone Phone number to filter. The response will include calls to the specified number only. The minimum number of digits is 3. (&lt;b&gt;example:&lt;/b&gt; phone&#x3D;15417543010) (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function searchCallsAsync($id = null, $datetime_start = null, $datetime_end = null, $call_direction = null, $scenario_ids = null, $campaign_ids = null, $phone = null)
    {
        $request = $this->searchCallsRequest($id, $datetime_start, $datetime_end, $call_direction, $scenario_ids, $campaign_ids, $phone);
        return $this->client->async($request)->then(
               function ($response) {
               	return $response[0];
               }
        );
    }

    /**
     * Create request for operation 'searchCalls'
     *
     * @param  int $id Call ID. (optional)
     * @param  string $datetime_start Start date. The format is 24-h ‘YYYY-MM-DD HH:mm:ss’ in UTC (optional)
     * @param  string $datetime_end End date. The format is 24-h ‘YYYY-MM-DD HH:mm:ss’ in UTC (optional)
     * @param  string $call_direction Call direction (&lt;b&gt;example:&lt;/b&gt; ‘call_direction&#x3D;outgoing’ or ‘call_direction&#x3D;incoming’ or ‘call_direction&#x3D;all’) (optional)
     * @param  string $scenario_ids Json integer array with scenarios IDs. The ID can be retrieved via the **searchScenarios** method. (&lt;b&gt;example:&lt;/b&gt; scenario_ids&#x3D;[1,2,3,...,9]) (optional)
     * @param  string $campaign_ids Json integer array with campaign IDs. The ID can be retrieved via the **searchCampaigns** method. (&lt;b&gt;example:&lt;/b&gt; campaign_ids&#x3D;[1,2,3,...,9]) (optional)
     * @param  int $phone Phone number to filter. The response will include calls to the specified number only. The minimum number of digits is 3. (&lt;b&gt;example:&lt;/b&gt; phone&#x3D;15417543010) (optional)
     *
     * @throws \InvalidArgumentException
     * @return VoximplantKitRequest
     */
    protected function searchCallsRequest($id = null, $datetime_start = null, $datetime_end = null, $call_direction = null, $scenario_ids = null, $campaign_ids = null, $phone = null)
    {

        $resourcePath = '/history/searchCalls';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($id !== null) {
            $queryParams['id'] = ObjectSerializer::toQueryValue($id);
        }
        // query params
        if ($datetime_start !== null) {
            $queryParams['datetime_start'] = ObjectSerializer::toQueryValue($datetime_start);
        }
        // query params
        if ($datetime_end !== null) {
            $queryParams['datetime_end'] = ObjectSerializer::toQueryValue($datetime_end);
        }
        // query params
        if ($call_direction !== null) {
            $queryParams['call_direction'] = ObjectSerializer::toQueryValue($call_direction);
        }
        // query params
        if ($scenario_ids !== null) {
            $queryParams['scenario_ids'] = ObjectSerializer::toQueryValue($scenario_ids);
        }
        // query params
        if ($campaign_ids !== null) {
            $queryParams['campaign_ids'] = ObjectSerializer::toQueryValue($campaign_ids);
        }
        // query params
        if ($phone !== null) {
            $queryParams['phone'] = ObjectSerializer::toQueryValue($phone);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->client->getHeaderSelector()->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->client->getHeaderSelector()->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;

            if($headers['Content-Type'] === 'application/json') {
                // \stdClass has no __toString(), so we should encode it manually
                if ($httpBody instanceof \stdClass) {
                    $httpBody = \GuzzleHttp\json_encode($httpBody);
                }
                // array has no __toString(), so we should encode it manually
                if(is_array($httpBody)) {
                    $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($httpBody));
                }
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->client->getConfig()->getApiKeyWithPrefix('access_token');
        if ($apiKey !== null) {
            $queryParams['access_token'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->client->getConfig()->getApiKeyWithPrefix('domain');
        if ($apiKey !== null) {
            $queryParams['domain'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->client->getConfig()->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->client->getConfig()->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        $request = new VoximplantKitRequest(
            'GET',
            $this->client->getConfig()->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
        $request->setResponseType('\VoximplantKit\Model\CallsHistoryResponseType');
        return $request;
    }
}
